.div-logo{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.texto{
  align-self: center;
  color: orange;
  text-transform: uppercase;
  font-size: 3em;
  animation-name: animaLogo;
  animation-duration: 4s;
  animation-iteration-count:infinite;
}

.logo-content{
  text-align: center;
  color: orange;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 15px;
}

hr {
  border: 0;
  color: white;
  background-color: white;
  height: 1px;
  width: 75%;
}

@keyframes animaLogo {
  0% {
    color: orange;
  }
  30% {
    color: red;
  }
  100% {
    color: orange;
  }
}